# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
junit-in-action-II.iml
*/.classpath
*/.project
*/.settings
*/.name
*/.checkstyle
*/*.iml
